bridge-core/src/main/resources/META-INF/schemas/bridge.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xsd.u2open.com/bridge"
            targetNamespace="http://xsd.u2open.com/bridge">


    <xsd:element name="bridge-property">
        <xsd:complexType>
            <xsd:attribute name="appCode" type="xsd:string"/>
            <xsd:attribute name="serverUrl" type="xsd:string"/>
            <xsd:attribute name="envEnum" type="xsd:string"/>
            <xsd:attribute name="appName" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>